section#welcome
	h1 Welcome to NutriPath
	p NutriPath is a simple app to keep track of your daily nutritional intake. To get started, log in and then enter some foods into your personal database collection by clicking on the My Foods tab in the navbar.
	br
	p This web app is a MEAN stack-based tool created by James Ethridge in the Spring of 2017 for IT 354 taught by Professor Schaefer.
